body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #04f3f3;
}

.topguide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 10px 20px;
}

.topguide a {
    color: #383737;
    text-decoration: none;
    margin-right: 10px;
    font-size: 22px;
}

.show {
    margin: 10% auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    max-width: 40%;
    height: 600px;
}

.sideBar {
    display: flex;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    height: 100%;
    max-width: 200px;

}

.profilePhoto {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    max-width: 200px;
    max-height: 210px;
}

.profilePhoto img {
    margin: 5% auto 0% auto;
    border-radius: 50%;
    max-width: 50%;
}

.profilePhoto h2 {
    margin: 0;
}

.profilePhoto p {
    margin: 0 auto 5% auto;
}