body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #04f3f3;
}

.topguide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.5);
    /* Ä£ºýÐ§¹û */
    backdrop-filter: blur(10px);
    padding: 10px 20px;
}

.topguide a {
    color: #383737;
    text-decoration: none;
    margin-right: 10px;
    font-size: 22px;
}

.Profilephoto {
    border-radius: 50%;
    max-width: 50px;
}

.show {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}